// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=IM+Fell+English);

htm, body {
    font-family: "IM Fell English";
    margin: 0;
    padding: 0;
}

#thisCanvas {
    display: block;
    margin: auto;
}

#app-container {
    text-align: center;
    .buttons {
        margin: 20px 0;
        span {
            cursor: pointer;
            font-size: 1.3em;
            margin: 50px;
        }
    }
}


