// bower:scss
// endbower

#app-container {
    cursor: pointer;
    font-family: "IM Fell English";
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#thisCanvas {
    margin: auto;
    border: 2px solid #ddd;
}
.buttons span {
    display: inline-block;
    font-size: 1.3em;
    padding: 20px 50px;
}